In [1]:
import pandas as pd
import numpy

In [2]:
reviews = pd.read_csv('reviews.csv', encoding="ISO-8859-1")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
reviews.head()

,Id (Review),User Id,name (vehicle),Location Id,Created At (Review),Connectors_site,Networks_site,Check-in Rating (alias),Unnamed: 8
0,309371.0,67214.0,Nissan LEAF,11573.0,9/14/15 8:13:23 AM,CHAdeMO,Blink,Negative,L3 right screen not responding. L3 means 440V ...
1,309366.0,NaN,NaN,9894.0,9/14/15 7:42:28 AM,"J-1772, Tesla Model S, Wall Outlet",NaN,Positive,NaN
2,309365.0,NaN,NaN,9699.0,9/14/15 7:36:21 AM,J-1772,ChargePoint,Negative,yea ... and same for other ahole evs who could...
3,309362.0,80216.0,Nissan LEAF,55637.0,9/14/15 7:16:55 AM,J-1772,NaN,Positive,none available
4,309361.0,121172.0,Kia Soul EV,40294.0,9/14/15 7:07:15 AM,CHAdeMO,NaN,Positive,NaN

In [4]:
reviews.columns = reviews.columns.str.replace('Unnamed: 8', 'review')

In [9]:
type(reviews['Id (Review)'][0])

numpy.float64

In [10]:
type(survey['Value.reviewid'][0])

numpy.int64

In [11]:
reviews['Id (Review)'] = reviews['Id (Review)'].fillna(0.0).astype(numpy.int64)

In [12]:
survey = pd.read_csv('survey_data_1216.csv', encoding="ISO-8859-1")

In [13]:
reviews.head()

,Id (Review),User Id,name (vehicle),Location Id,Created At (Review),Connectors_site,Networks_site,Check-in Rating (alias),review
0,309371,67214.0,Nissan LEAF,11573.0,9/14/15 8:13:23 AM,CHAdeMO,Blink,Negative,L3 right screen not responding. L3 means 440V ...
1,309366,NaN,NaN,9894.0,9/14/15 7:42:28 AM,"J-1772, Tesla Model S, Wall Outlet",NaN,Positive,NaN
2,309365,NaN,NaN,9699.0,9/14/15 7:36:21 AM,J-1772,ChargePoint,Negative,yea ... and same for other ahole evs who could...
3,309362,80216.0,Nissan LEAF,55637.0,9/14/15 7:16:55 AM,J-1772,NaN,Positive,none available
4,309361,121172.0,Kia Soul EV,40294.0,9/14/15 7:07:15 AM,CHAdeMO,NaN,Positive,NaN

In [14]:
survey.head()

,Name,Value.availability,Value.cost,Value.dealership,Value.function,Value.location,Value.other,Value.participantid,Value.range,Value.reviewid,Value.sentiment,Value.servicetimes,Value.time,Value.userinteraction
0,100118n4,NaN,NaN,NaN,True,NaN,NaN,4,NaN,100118,Negative,NaN,12/12/2019 @ 12:59:30,NaN
1,100152n4,NaN,NaN,NaN,NaN,True,NaN,4,NaN,100152,Negative,NaN,10/12/2019 @ 21:31:18,NaN
2,100216n4,True,NaN,NaN,NaN,True,NaN,4,NaN,100216,Positive,NaN,13/12/2019 @ 16:0:43,NaN
3,100257n4,NaN,NaN,True,NaN,True,NaN,4,True,100257,Negative,NaN,10/12/2019 @ 21:32:13,NaN
4,100449n4,True,NaN,NaN,NaN,NaN,NaN,4,NaN,100449,Negative,NaN,12/12/2019 @ 20:56:20,NaN

In [15]:
reviews = reviews.rename(columns={'Id (Review)':'id'})
survey = survey.rename(columns={'Value.reviewid':'id'})

In [16]:
reviews.head()

,id,User Id,name (vehicle),Location Id,Created At (Review),Connectors_site,Networks_site,Check-in Rating (alias),review
0,309371,67214.0,Nissan LEAF,11573.0,9/14/15 8:13:23 AM,CHAdeMO,Blink,Negative,L3 right screen not responding. L3 means 440V ...
1,309366,NaN,NaN,9894.0,9/14/15 7:42:28 AM,"J-1772, Tesla Model S, Wall Outlet",NaN,Positive,NaN
2,309365,NaN,NaN,9699.0,9/14/15 7:36:21 AM,J-1772,ChargePoint,Negative,yea ... and same for other ahole evs who could...
3,309362,80216.0,Nissan LEAF,55637.0,9/14/15 7:16:55 AM,J-1772,NaN,Positive,none available
4,309361,121172.0,Kia Soul EV,40294.0,9/14/15 7:07:15 AM,CHAdeMO,NaN,Positive,NaN

In [17]:
survey.head()

,Name,Value.availability,Value.cost,Value.dealership,Value.function,Value.location,Value.other,Value.participantid,Value.range,id,Value.sentiment,Value.servicetimes,Value.time,Value.userinteraction
0,100118n4,NaN,NaN,NaN,True,NaN,NaN,4,NaN,100118,Negative,NaN,12/12/2019 @ 12:59:30,NaN
1,100152n4,NaN,NaN,NaN,NaN,True,NaN,4,NaN,100152,Negative,NaN,10/12/2019 @ 21:31:18,NaN
2,100216n4,True,NaN,NaN,NaN,True,NaN,4,NaN,100216,Positive,NaN,13/12/2019 @ 16:0:43,NaN
3,100257n4,NaN,NaN,True,NaN,True,NaN,4,True,100257,Negative,NaN,10/12/2019 @ 21:32:13,NaN
4,100449n4,True,NaN,NaN,NaN,NaN,NaN,4,NaN,100449,Negative,NaN,12/12/2019 @ 20:56:20,NaN

In [18]:
#combined = pd.concat([reviews,survey])
combined = pd.merge(reviews, survey, left_on='id', right_on='id')

In [19]:
combined.head()

,id,User Id,name (vehicle),Location Id,Created At (Review),Connectors_site,Networks_site,Check-in Rating (alias),review,Name,...,Value.dealership,Value.function,Value.location,Value.other,Value.participantid,Value.range,Value.sentiment,Value.servicetimes,Value.time,Value.userinteraction
0,309362,80216.0,Nissan LEAF,55637.0,9/14/15 7:16:55 AM,J-1772,NaN,Positive,none available,309362n1,...,NaN,NaN,NaN,NaN,1,NaN,Negative,NaN,8/12/2019 @ 18:27:3,NaN
1,309358,59619.0,Fiat 500e,57913.0,9/14/15 6:45:52 AM,J-1772,NaN,Positive,Got an hour in while grabbing a late bite at t...,309358n1,...,NaN,NaN,True,NaN,1,NaN,Positive,NaN,2/12/2019 @ 19:6:50,NaN
2,309357,127263.0,Nissan LEAF,7408.0,9/14/15 6:44:25 AM,J-1772,SemaCharge,Positive,"Easy to find , bathroom inside Walgreens close...",309357n1,...,NaN,NaN,True,NaN,1,NaN,Positive,NaN,2/12/2019 @ 19:19:25,NaN
3,309319,9894.0,Nissan LEAF,46072.0,9/14/15 4:01:00 AM,CHAdeMO,ChargePoint,Positive,Visited again on our way back to West Virginia...,309319n1,...,NaN,NaN,True,NaN,1,True,Positive,NaN,2/12/2019 @ 19:20:53,NaN
4,309299,55266.0,Nissan LEAF,62462.0,9/14/15 2:47:44 AM,"CHAdeMO, J-1772",EVgo,Neutral,Could have would have used this today on out E...,309299n1,...,NaN,NaN,True,NaN,1,True,Negative,NaN,1/12/2019 @ 9:57:49,NaN

In [20]:
combined.columns

Index(['id', 'User Id', 'name (vehicle)', 'Location Id', 'Created At (Review)',
       'Connectors_site', 'Networks_site', 'Check-in Rating (alias)', 'review',
       'Name', 'Value.availability', 'Value.cost', 'Value.dealership',
       'Value.function', 'Value.location', 'Value.other',
       'Value.participantid', 'Value.range', 'Value.sentiment',
       'Value.servicetimes', 'Value.time', 'Value.userinteraction'],
      dtype='object')

In [21]:
truncated = combined[combined['Value.participantid'].isin(['1', '2', '3', '4', '5'])]

In [22]:
truncated.columns

Index(['id', 'User Id', 'name (vehicle)', 'Location Id', 'Created At (Review)',
       'Connectors_site', 'Networks_site', 'Check-in Rating (alias)', 'review',
       'Name', 'Value.availability', 'Value.cost', 'Value.dealership',
       'Value.function', 'Value.location', 'Value.other',
       'Value.participantid', 'Value.range', 'Value.sentiment',
       'Value.servicetimes', 'Value.time', 'Value.userinteraction'],
      dtype='object')

In [23]:
truncated = truncated.rename(columns={'Value.function':'functionality', 'Value.range':'range_anxiety', 'Value.availability':'availability', 'Value.cost':'cost', 'Value.userinteraction':'ui', 'Value.location':'location', 'Value.servicetimes':'service_time', 'Value.dealership':'dealership', 'Value.other':'other'})

In [24]:
truncated.columns

Index(['id', 'User Id', 'name (vehicle)', 'Location Id', 'Created At (Review)',
       'Connectors_site', 'Networks_site', 'Check-in Rating (alias)', 'review',
       'Name', 'availability', 'cost', 'dealership', 'functionality',
       'location', 'other', 'Value.participantid', 'range_anxiety',
       'Value.sentiment', 'service_time', 'Value.time', 'ui'],
      dtype='object')

In [25]:
truncated_col = truncated[['id', 'review', 'functionality', 'range_anxiety', 'availability', 'cost', 'ui', 'location', 'service_time', 'dealership']]

In [26]:
truncated_col.head(20)

,id,review,functionality,range_anxiety,availability,cost,ui,location,service_time,dealership
0,309362,none available,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN
1,309358,Got an hour in while grabbing a late bite at t...,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
2,309357,"Easy to find , bathroom inside Walgreens close...",NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
3,309319,Visited again on our way back to West Virginia...,NaN,True,NaN,NaN,NaN,True,NaN,NaN
4,309299,Could have would have used this today on out E...,NaN,True,NaN,NaN,NaN,True,NaN,NaN
5,309288,was iced but I asked the salesperson about if ...,NaN,NaN,True,NaN,NaN,True,NaN,NaN
6,309278,Four spaces for EVs. Free parking and charging...,NaN,NaN,True,True,NaN,True,NaN,NaN
7,309272,All taken,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN
8,309241,Working great!,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,309239,So the dealer had all of their cars being serv...,NaN,NaN,True,NaN,NaN,NaN,NaN,True
10,309239,So the dealer had all of their cars being serv...,NaN,NaN,True,NaN,NaN,NaN,NaN,True
11,309239,So the dealer had all of their cars being serv...,NaN,NaN,True,NaN,NaN,True,NaN,True
12,309239,So the dealer had all of their cars being serv...,NaN,NaN,True,NaN,NaN,True,NaN,True
13,309239,So the dealer had all of their cars being serv...,True,NaN,True,NaN,True,True,NaN,True
14,309216,Can use app or call for free charge if screen ...,True,NaN,NaN,NaN,True,NaN,NaN,NaN
15,309170,Pit stop before heading home. Thanks Price Cho...,NaN,True,NaN,NaN,NaN,NaN,NaN,True
16,309101,Located in the far southwest corner near Starb...,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
17,309100,One of two chargers working at 6kw,True,NaN,NaN,NaN,NaN,NaN,True,NaN
18,309090,Arrived with a half full battery and ponied up...,True,NaN,NaN,NaN,NaN,NaN,True,NaN
19,309083,No bathrooms on weekends. Kings garden wouldn'...,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN

In [27]:
truncated_col.fillna(0)

,id,review,functionality,range_anxiety,availability,cost,ui,location,service_time,dealership
0,309362,none available,0,0,True,0,0,0,0,0
1,309358,Got an hour in while grabbing a late bite at t...,0,0,0,0,0,True,0,0
2,309357,"Easy to find , bathroom inside Walgreens close...",0,0,0,0,0,True,0,0
3,309319,Visited again on our way back to West Virginia...,0,True,0,0,0,True,0,0
4,309299,Could have would have used this today on out E...,0,True,0,0,0,True,0,0
5,309288,was iced but I asked the salesperson about if ...,0,0,True,0,0,True,0,0
6,309278,Four spaces for EVs. Free parking and charging...,0,0,True,True,0,True,0,0
7,309272,All taken,0,0,True,0,0,0,0,0
8,309241,Working great!,True,0,0,0,0,0,0,0
9,309239,So the dealer had all of their cars being serv...,0,0,True,0,0,0,0,True
10,309239,So the dealer had all of their cars being serv...,0,0,True,0,0,0,0,True
11,309239,So the dealer had all of their cars being serv...,0,0,True,0,0,True,0,True
12,309239,So the dealer had all of their cars being serv...,0,0,True,0,0,True,0,True
13,309239,So the dealer had all of their cars being serv...,True,0,True,0,True,True,0,True
14,309216,Can use app or call for free charge if screen ...,True,0,0,0,True,0,0,0
15,309170,Pit stop before heading home. Thanks Price Cho...,0,True,0,0,0,0,0,True
16,309101,Located in the far southwest corner near Starb...,0,0,0,0,0,True,0,0
17,309100,One of two chargers working at 6kw,True,0,0,0,0,0,True,0
18,309090,Arrived with a half full battery and ponied up...,True,0,0,0,0,0,True,0
19,309083,No bathrooms on weekends. Kings garden wouldn'...,0,0,0,0,0,True,0,0
20,309069,Charger down. Called company they could not s...,True,0,0,0,0,0,0,0
21,309061,"station says ""loading..."" on the screen. not o...",True,0,0,0,0,0,0,0
22,309055,Over temperature error on the fast charger. In...,True,0,0,0,0,0,0,0
23,309051,Here for 1 hr 30 mins.,0,0,0,0,True,0,0,0
24,309051,Here for 1 hr 30 mins.,0,0,0,0,True,0,0,0
25,309051,Here for 1 hr 30 mins.,0,0,0,0,True,0,0,0
26,309051,Here for 1 hr 30 mins.,0,0,0,0,True,0,0,0
27,309051,Here for 1 hr 30 mins.,0,0,0,0,0,0,0,0
29,309001,"SHIFT EV customized porsche 911 - 996, opport...",0,0,0,0,0,True,0,True
30,308988,Just a quick 10 minute charge. No one else is ...,0,0,0,0,True,0,0,0
...,...,...,...,...,...,...,...,...,...,...
10638,11427,"Very weird, right side card reader wasn't work...",True,0,0,0,0,0,0,0
10639,11427,"Very weird, right side card reader wasn't work...",True,0,0,0,0,0,0,0
10640,11427,"Very weird, right side card reader wasn't work...",True,0,0,0,0,0,0,0
10641,11427,"Very weird, right side card reader wasn't work...",True,0,0,0,0,0,0,0
10642,11427,"Very weird, right side card reader wasn't work...",True,0,0,0,True,0,0,0
10643,10617,A Leaf and Volt are often both seen charging h...,0,0,True,0,0,0,0,True
10644,10617,A Leaf and Volt are often both seen charging h...,0,0,True,0,0,0,0,0
10645,10617,A Leaf and Volt are often both seen charging h...,0,0,True,0,0,0,0,True
10646,10617,A Leaf and Volt are often both seen charging h...,0,0,True,0,0,True,0,True
10647,10617,A Leaf and Volt are often both seen charging h...,0,0,True,0,True,True,0,True
10648,7721,Parked and charged with no issues. Saw a Leaf ...,0,0,True,0,0,0,0,0
10649,7721,Parked and charged with no issues. Saw a Leaf ...,0,0,True,0,0,0,0,0
10650,7721,Parked and charged with no issues. Saw a Leaf ...,True,0,0,0,True,0,0,True
10651,7721,Parked and charged with no issues. Saw a Leaf ...,0,0,True,0,0,0,0,0
10652,7721,Parked and charged with no issues. Saw a Leaf ...,True,0,True,0,True,0,0,True
10653,6717,Arrived with 2 bars left and both ports are wo...,True,0,0,0,0,0,0,0
10654,6717,Arrived with 2 bars left and both ports are wo...,True,True,0,0,0,0,0,0
10655,6717,Arrived with 2 bars left and both ports are wo...,True,0,0,0,0,0,0,0
10656,6717,Arrived with 2 bars left and both ports are wo...,True,0,0,0,0,0,0,0
10657,6717,Arrived with 2 bars left and both ports are wo...,True,True,True,0,0,0,0,0
10659,1690,A very handy location! It's just In range of F...,0,True,True,0,0,True,0,0
10660,1690,A very handy location! It's just In range of F...,0,0,0,0,0,True,0,0
10661,1690,A very handy location! It's just In range of F...,0,0,True,0,0,True,0,0
10662,1690,A very handy location! It's just In range of F...,0,0,0,0,0,True,0,0
10663,1690,A very handy location! It's just In range of F...,0,0,True,0,0,True,0,0
10664,1154,What the crap! A Nissan dealership that has c...,0,0,0,0,0,True,0,True
10665,1154,What the crap! A Nissan dealership that has c...,0,0,0,0,0,True,0,True
10666,1154,What the crap! A Nissan dealership that has c...,True,0,0,0,0,True,0,True
10667,1154,What the crap! A Nissan dealership that has c...,0,0,True,0,0,True,0,True
10668,1154,What the crap! A Nissan dealership that has c...,0,0,True,0,True,True,0,True

In [28]:
truncated_col = truncated_col.astype(str)

In [29]:
truncated_col.dtypes

id               object
review           object
functionality    object
range_anxiety    object
availability     object
cost             object
ui               object
location         object
service_time     object
dealership       object
dtype: object

In [30]:
truncated_col.head()

,id,review,functionality,range_anxiety,availability,cost,ui,location,service_time,dealership
0,309362,none available,nan,nan,True,nan,nan,nan,nan,nan
1,309358,Got an hour in while grabbing a late bite at t...,nan,nan,nan,nan,nan,True,nan,nan
2,309357,"Easy to find , bathroom inside Walgreens close...",nan,nan,nan,nan,nan,True,nan,nan
3,309319,Visited again on our way back to West Virginia...,nan,True,nan,nan,nan,True,nan,nan
4,309299,Could have would have used this today on out E...,nan,True,nan,nan,nan,True,nan,nan

In [31]:
truncated_col['functionality'] = truncated_col['functionality'].replace('nan', '0')
truncated_col['functionality'] = truncated_col['functionality'].replace('True', '1')
truncated_col['range_anxiety'] = truncated_col['range_anxiety'].replace('nan', '0')
truncated_col['range_anxiety'] = truncated_col['range_anxiety'].replace('True', '1')
truncated_col['availability'] = truncated_col['availability'].replace('nan', '0')
truncated_col['availability'] = truncated_col['availability'].replace('True', '1')
truncated_col['cost'] = truncated_col['cost'].replace('nan', '0')
truncated_col['cost'] = truncated_col['cost'].replace('True', '1')
truncated_col['ui'] = truncated_col['ui'].replace('nan', '0')
truncated_col['ui'] = truncated_col['ui'].replace('True', '1')
truncated_col['location'] = truncated_col['location'].replace('nan', '0')
truncated_col['location'] = truncated_col['location'].replace('True', '1')
truncated_col['service_time'] = truncated_col['service_time'].replace('nan', '0')
truncated_col['service_time'] = truncated_col['service_time'].replace('True', '1')
truncated_col['dealership'] = truncated_col['dealership'].replace('nan', '0')
truncated_col['dealership'] = truncated_col['dealership'].replace('True', '1')

In [32]:
truncated_col.head(20)

,id,review,functionality,range_anxiety,availability,cost,ui,location,service_time,dealership
0,309362,none available,0,0,1,0,0,0,0,0
1,309358,Got an hour in while grabbing a late bite at t...,0,0,0,0,0,1,0,0
2,309357,"Easy to find , bathroom inside Walgreens close...",0,0,0,0,0,1,0,0
3,309319,Visited again on our way back to West Virginia...,0,1,0,0,0,1,0,0
4,309299,Could have would have used this today on out E...,0,1,0,0,0,1,0,0
5,309288,was iced but I asked the salesperson about if ...,0,0,1,0,0,1,0,0
6,309278,Four spaces for EVs. Free parking and charging...,0,0,1,1,0,1,0,0
7,309272,All taken,0,0,1,0,0,0,0,0
8,309241,Working great!,1,0,0,0,0,0,0,0
9,309239,So the dealer had all of their cars being serv...,0,0,1,0,0,0,0,1
10,309239,So the dealer had all of their cars being serv...,0,0,1,0,0,0,0,1
11,309239,So the dealer had all of their cars being serv...,0,0,1,0,0,1,0,1
12,309239,So the dealer had all of their cars being serv...,0,0,1,0,0,1,0,1
13,309239,So the dealer had all of their cars being serv...,1,0,1,0,1,1,0,1
14,309216,Can use app or call for free charge if screen ...,1,0,0,0,1,0,0,0
15,309170,Pit stop before heading home. Thanks Price Cho...,0,1,0,0,0,0,0,1
16,309101,Located in the far southwest corner near Starb...,0,0,0,0,0,1,0,0
17,309100,One of two chargers working at 6kw,1,0,0,0,0,0,1,0
18,309090,Arrived with a half full battery and ponied up...,1,0,0,0,0,0,1,0
19,309083,No bathrooms on weekends. Kings garden wouldn'...,0,0,0,0,0,1,0,0

In [33]:
truncated_col['functionality'] = truncated_col['functionality'].astype(int)
truncated_col['range_anxiety'] = truncated_col['range_anxiety'].astype(int)
truncated_col['availability'] = truncated_col['availability'].astype(int)
truncated_col['cost'] = truncated_col['cost'].astype(int)
truncated_col['ui'] = truncated_col['ui'].astype(int)
truncated_col['location'] = truncated_col['location'].astype(int)
truncated_col['service_time'] = truncated_col['service_time'].astype(int)
truncated_col['dealership'] = truncated_col['dealership'].astype(int)

In [34]:
truncated_col.shape

(10652, 10)

In [35]:
#truncated_col = truncated_col.sample(frac=1).reset_index(drop=True)
#train = truncated_col.sample(frac=0.8).reset_index(drop=True)

In [36]:
from sklearn.model_selection import train_test_split
train, val_test = train_test_split(truncated_col, test_size=0.2)

In [37]:
valid, test = train_test_split(val_test, test_size=0.5)

In [38]:
print(train.shape)
print(valid.shape)
print(test.shape)

(8521, 10)
(1065, 10)
(1066, 10)

In [39]:
type(train)

pandas.core.frame.DataFrame

In [40]:
train.to_csv('train_final.csv')
valid.to_csv('valid_final.csv')
test.to_csv('test_final.csv')

In [41]:
train.head(10)

,id,review,functionality,range_anxiety,availability,cost,ui,location,service_time,dealership
633,293640,Reliable....but under a eucalyptus tree that s...,0,0,0,0,0,1,0,0
4335,204486,"Quick charge. It working, but lvl 2 dorks fine.",1,0,0,0,0,0,0,0
10,309239,So the dealer had all of their cars being serv...,0,0,1,0,0,0,0,1
9076,69923,No charging stations but 220 & 110 outlets and...,0,0,1,0,0,1,1,0
5057,186093,"Was only there @ 9PM Jan 04, 2015. Works flawl...",1,0,0,0,0,0,0,0
550,295817,Works great. One Tesla slot was ICE'd by emplo...,1,0,1,0,0,0,0,0
6691,147226,nice...and free.,0,0,0,1,0,0,0,0
9602,59700,removed quick charger,1,0,1,0,0,0,0,0
1676,269229,Confirmed not working since 7-8am. Not sure wh...,1,0,0,0,0,0,0,0
5662,171300,QC working great.,1,0,0,0,0,0,0,0